html {
  font-size: 1rem;  
}
.logo {
  height: 70px;
  width: 180px;
  margin-top: 0px;  
  margin-left: 20px;
  margin-bottom: 0px;
  position: relative; 
}
.nav-link {  
  font-family: 'Alatsi', sans-serif;
  font-size: 15px; 
  height: 20px; 
  margin-bottom: 20px;      
}
.navbar {  
  padding: 0; 
  height: 120px; 
}
.fonte-titulo {
  font-family: 'Bebas Neue', cursiva;
  font-size: 79px;
  margin-top: 10px;
  margin-left: 20px;
}
.paragrafo-pratos{
  font-family: 'Alatsi', sans-serif;   
}
.titulo-pratos {
  font-family: 'Bebas Neue', cursiva;
  font-style: italic;
  font-weight: bold;
  color: #006400;
  font-size: 45px;
}
.imagem-carrossel {
  height: 370px;
  object-fit: cover;
  object-position: 0 50%;
}
.titulo-carrossel {
  color: #FFF;
  font-family: 'Alatsi', sans-serif; 
  font-weight: bold;
}
.carousel {
  margin-top: 120px;
}
.made-in-italy {
  color: #006400;
}
.fonte-corpo {
  font-family: 'Alatsi', sans-serif; 
}
.btn {
  background-color: #006400;
  color: #FFF;
}
.borda-card {
  border-color: #006400;
}



