html {
  font-size: 1rem;  
}
.logo {
  height: 70px;
  width: 180px;
  margin-top: 0px;  
  margin-left: 20px;
  margin-bottom: 0px;
  position: relative; 
}
.nav-link {  
  font-family: 'Alatsi', sans-serif;
  font-size: 15px; 
  height: 20px; 
  margin-bottom: 20px;      
}
.navbar {  
  padding: 0; 
  height: 120px; 
}
.fonte-titulo {
  font-family: 'Bebas Neue', cursiva;
  font-size: 79px;
  margin-top: 10px;
  margin-left: 20px;
}
.imagem-carrossel {
  height: 400px;
  object-fit: cover;
  object-position: 0 50%;
}
.titulo-carrossel {
  color: yellow;
  font-family: 'Alatsi', sans-serif; 
  font-weight: bold;
}
.carousel {
  margin-top: 120px;
}



